.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 50vh;
    padding: 8px;
    margin: 4px auto;
    overflow-x: scroll;
    width: 80%;
}

.list::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(14 3 24);
}

.list::-webkit-scrollbar-thumb {
    background-color: rgb(59 58 58);
}

.list::-webkit-scrollbar-corner {
    background-color: rgb(14 3 24);
}