.wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 24px auto;
    gap: 12px;
}

.planned {
    background-color: var(--color-item-active-background);
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.fact {
    background-color: var(--color-item-bought-background);
    border: none;
    border-radius: 8px;
    padding: 8px;
}