.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 24px 0;
    gap: 12px;
}

.planned {
    background-color: rgb(45 39 92);
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.fact {
    background-color: rgb(33 61 33);
    border: none;
    border-radius: 8px;
    padding: 8px;
}