#root {
  text-align: center;
  background-color: rgb(14 3 24);
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgb(247 232 250);
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}
