.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(45 39 92);
    border-radius: 16px;
    padding: 8px;
}

.itemDone {
    background-color: rgb(33 61 33);
}

.infoWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

.costWrapper {
    display: flex;
    gap: 8px;
}

.itemInfoDone {
    text-decoration: line-through;
}

.buttonsWrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

%button {
    color: rgb(247 232 250);
    padding: 8px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.buttonDelete {
    @extend %button;

    background-color: rgb(163 77 77);
}

.buttonMarkAsActive {
    @extend %button;

    background-color: rgb(45 39 92);
}

.buttonMarkAsBought {
    @extend %button;

    background-color: rgb(33 61 33);
}

.buttonEdit, .buttonSave, .buttonRestore {
    font-size: 12px;
    color: rgb(247 232 250);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29 26 26);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

%button:hover, .buttonEdit:hover, .buttonSave:hover, .buttonRestore:hover {
    box-shadow: 4px 8px 10px 0 rgb(245 221 221 / 24%);
}

.modalQuestion {
    margin-top: 40px;
}

.buttonsModalWrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.buttonCancel {
    @extend %button;

    background-color: rgb(29 26 26);
    font-size: 1.5rem;

    &:hover {
        box-shadow: 4px 8px 20px 0 rgb(2 2 2 / 28.8%);
    }
}

.buttonSubmit {
    @extend %button;

    background-color: rgb(70 7 7);
    font-size: 1.5rem;

    &:hover {
        box-shadow: 4px 8px 20px 0 rgb(2 2 2 / 28.8%);
    }
}

div[contentEditable="true"] {
    outline: none;
    font-style: italic;
    cursor: pointer;
    min-width: 20px;
    border-bottom: 1px solid rgb(247 232 250);
}