.modalOuter {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color:var(--color-modal-background);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalInner {
    max-width: 50%;
    max-height: 50%;
    background-color: var(--color-modal-inner-background);
    border-radius: 8px;
    position: relative;
    color: var(--color-modal-text);
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    text-align: center;

    @media (max-width: 720px) {
      max-width: 70%;
    }
  }
  
  .buttonClose {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 20px;
    color: var(--color-modal-inner-background);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-button-cancel-background);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 8px 20px 0 var(--color-modal-button-shadow);
    }
  }
