%button {
    font-size: 1.5rem;
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    font-weight: 600;
}

.buttonClear {
    @extend %button;

    background-color: var(--color-button-delete-background);
    border-color: var(--color-button-delete-border);
    margin-top: 20px;
    color: var(--color-text);

    &:hover {
        box-shadow: 4px 8px 12px 0 var(--color-button-box-shadow);
    }
}

.buttonCancel {
    @extend %button;

    background-color: var(--color-button-cancel-background);
    border: none;
    color: var(--color-modal-button-text);

    &:hover {
        box-shadow: 4px 8px 20px 0 var(--color-modal-button-shadow);
    }
}

.buttonSubmit {
    @extend %button;

    background-color: var(--color-button-delete-background);
    border: none;
    color: var(--color-modal-button-text);

    &:hover {
        box-shadow: 4px 8px 20px 0 var(--color-modal-button-shadow);
    }
}

.modalQuestion {
    margin-top: 40px;
}

.buttonsModalWrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

